/* GENERAL STYLES */
* {
  /* border: 2px solid red !important; */
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER STYLES */

header {
  display: flex;
  flex-direction: column;
}

header section {
width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  height: 10vh;
}

.nav-bar nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}

.hero {
  /* height: 90vh; */
  display: flex;
  justify-content: center;
}

.hero-content {
  padding: 5%;
  text-shadow: 0 2px 2px black;
}

.hero h1 {
  font-size: 6em;
  color: lightgray;
}

/* MAIN STYLES */

.hero {
  background-image: url(images/development.jpg);
  background-size: cover;
  background-position: center top;
  height: 90vh;
}