/* HEADER STYLES */
.top-header {
  position: fixed;
  width: 100vw;
  background-color: grey;
  height: 10vh;
  flex: auto;
}

.header-logo {
  height: 10vh;
  width: 10vh;
  padding: 3vh;
  box-sizing: border-box;
  display: block;
  text-align: center;
  position: relative;
  left: -20px;
  top: -15px;
}

.header-logo img {
  height: 150%;
  width: auto;
}

/* NAV STYLES */
nav {
  
}

.nav-bar li {
  display: block;
  float: right;
  padding: 1em;
}


/* HERO STYLES */

.hero-container {
  padding-top: 10vh;
}

.full-hero {
  background-image: url(images/development.jpg);
  background-size: cover;
  background-position: center top;
  height: 90vh;
  box-sizing: border-box;
}

.hero-content {
  position: relative;
  top: 10%;
  text-transform: uppercase;
  text-align: center;
  font-size: 5em;
  background-color: rgba(128, 128, 128, 0.2);
  transform: translate(0, -50%);
}