@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  /* border: 1px solid black; */
}

/* GENERAL STYLES */
body {
  font-family: 'Nunito', sans-serif;
  /* padding-top: 4rem; */
  color: #1f252f;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  cursor: pointer;
}

/* NAV STYLES */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  padding: 0 4rem;
  box-shadow: 0 2px 8px grey;
  z-index: 99;
}

nav p {
  color: #fff;
  position: absolute;
  left: 20px;
  font-size: 2rem;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 5%;
  font-weight: bold;
  font-size: 1.2rem;
}

nav a:hover,
nav a:active {
  color: crimson;
}

/* HEADER STYLES */
.header {
  background-image: url('../images/fabian-grohs-dMUt0X3f59Q-unsplash.jpg');
  background-position: center;
  box-shadow: 2px 2px 8px 444444;
  padding: 3rem;
  background-color: white;
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  min-height: 93vh;
  font-size: 1.3rem;
  color: white;
  text-shadow: 1px 1px 3px black;
  border-radius: 0.5rem;
}

.header .down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
}

.header .down:hover {
  color: crimson;
}

/* MAIN STYLES */
main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}

main h2 {
  font-size: 3rem;
}

.container {
  padding: 5%;
  background-color: #e5e6e9;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 2px 8px grey;
  margin-top: 0.8rem;
  border-radius: 0.5rem;
}

.links {
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.LI {
  height: 32px;
  color: white;
}

/* PROJECTS STYLES */
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project {
  box-shadow: 2px 2px 8px grey;
  position: relative;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-details {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #73436db7;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  line-height: 2;
  overflow: hidden;
}

.project-details > * {
  background-color: #e5e6e9;
  padding: 1rem;
  border-radius: 1rem;
}

.project .project-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0);
}

.project-links a {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #b67c9a;
  box-shadow: 2px 2px 4px grey;
  background-color: #e5e6e9;
}

.project-links a:hover,
.project-links a:active {
  color: crimson;
  cursor: pointer;
  background-color: white;
  box-shadow: 2px 2px 4px red;
}

.project img {
  box-shadow: 2px 2px 8px grey;
  width: 750px;
  height: 450px;
}

.project ul {
  /* padding: 0 5%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project ul li {
  display: block;
  width: 20%;
}

/* SKILLS STYLES */
.skills {
  background-color: white;
}

.skills h3,
.projects h3,
.about h3 {
  width: 100%;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #73436d;
}

.skills ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.skills li {
  margin: 0.2rem;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 40%;
  border-bottom: 1px solid #b67c9a;
  border-top: 1px solid #b67c9a;
}

.skills i {
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

/* ABOUT STYLES */
.about .titles {
  display: flex;
  justify-content: space-between;
}

.titles h3 {
  width: 40%;
}

.about > div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.about-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-photo .links {
  width: 300px;
}

.about-photo .portrait {
  border-radius: 0.5rem;
  max-height: 300px;
  max-width: 300px;
  box-shadow: 1px 1px 8px grey;
  margin: 0 auto;
}

.about-photo a {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.about-photo a:first-of-type {
  border-radius: 10rem;
}

.about-photo a:hover {
  box-shadow: 1px 1px 8px crimson;
}

.about p {
  padding: 2% 0;
}

.about-details {
  background-color: white;
  box-shadow: 2px 2px 8px grey;
  border-radius: 10px;
  display: flex;
  padding: 2rem 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
  line-height: 1.5;
}

.about .contact {
  color: crimson;
  cursor: pointer;
}

.about .contact-links {
  display: flex;
  justify-content: space-around;
}

/* FOOTER STYLES */
.footer {
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width: 1350px) {
  .projects > div {
    width: 100%;
  }

  .container {
    padding: 2%;
  }
}

@media only screen and (max-width: 920px) {
  nav {
    justify-content: space-around;
  }

  nav a {
    margin: 0;
  }

  nav p {
    display: none;
  }

  .header {
    padding: 0.5rem;
  }

  .header > div {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 1rem;
  }

  .header .links {
    justify-content: flex-start;
  }

  .header .links a {
    margin-left: 2rem;
  }

  .projects > div,
  .about > div {
    flex-direction: column;
  }

  .projects > div:first-of-type,
  .projects > div:last-of-type {
    flex-direction: column-reverse;
  }

  .project-details {
    width: 100%;
  }

  .projects img {
    width: 100%;
    height: auto;
  }

  .skills li {
    width: 80%;
  }

  .about > div > div {
    width: 100%;
  }

  .about-photo {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }

  nav {
    padding: 0;
  }

  .skills li {
    width: 100%;
  }

  .container {
    padding: 4%;
  }

  .titles h3 {
    width: 50%;
  }

  .about .contact-links {
    margin-top: 1.5rem;
  }
}
